*{
    font-family: 'Roboto', sans-serif;
}
/* qui ho tolto l'h2  */
h1, h3, .h1, .h3{
     font-family: 'Lobster', cursive;
}

:root{
    --w: #dcdcdc;
    --b: #171717;
    --dr: #7c162e;
    --c: #99ffff;
    --a: #2D5709;
    --as: #FE6F33;
    --v: #9303A6;
    --cs: #84A9D9;
    --cc: #BDD9F2;
    --ve: #417414; 
    --vc: #93A603;
    --g:rgba(255, 208, 0, 0.904);
} 
/* colori da utilizzare */
.bg-w{
    background-color: var(--a);
 }

 .bg-ve{
  background-color: var(--ve);
}

 .text-dr{
    color: var(--a);
}

.text-g{
  color: var(--g);
}

.text-ve{
    color: var(--ve);
}

.text-as{
    color: var(--as);
}

.text-b{
  font-weight:500;
  color: var(--b);
}

/* fine colori da utilizzare */


body{
    background-color: var(--w);
    color: var(--b);
}

.bg-w{
   background-color: var(--w);
}

.text-w{
    color: var(--w);
}

.bg-b{
    background-color: var(--b);
}

.text-dr{
    color: var(--dr);
}

.bg-dr{
    background-color: var(--dr);
}

.text-c{
    color: var(--c);
}

.bg-c{
    background-color: var(--c);
}

.bg-t{
    background-color: transparent;
}

/* NAVBAR COLORI  */
.logo{
    width: 150px;
    height: 50px;
}
    /* div invisibile per centrare la navbar */
.w-80{
    width: 80px;
}

#navbar{
    transition: 0.5s;
}

.nav-link{
    color: var(--b);
}

/* HEADER */

.header-custom{
    background-image: linear-gradient(var(--w), transparent,transparent, transparent , var(--b)), url(./media/header.jpg);
    background-position: center;
    background-size: cover  ;
}

/* POSITION */
.position-custom{
    position: relative;
    top: -200px;
}

.card-box{
    transition: 0.35s;
}

.card-box:hover{
    background-color: var(--ve);
    color: var(--w);
    transform: scale(1.1);
}

/* POSITION RELATIVE PER AVVICINARE LA IL CHI SIAMO */
.chi-siamo{
    position: relative;
    top: -140px;
}

/*Se la grandezza dello schermo è di 1000px o di più, set font-size to 25px*/
@media (min-width: 1000px) {
    .chi-siamo-responsive {
      font-size: 25px;
    }
  }

  /*Se la grandezza dello schermo è meno di 500px di più, set font-size to 15px*/
  @media (max-width: 500px) {
    .chi-siamo-responsive {
      font-size: 15px;
    }
  }

  /* RESPONSIVE HEADER
/*Se la grandezza dello schermo è meno di 500px di più, set font-size to 15px*/
@media (max-width: 500px) {
  .logo-responsive {
    position: relative;
    top: -100px;
  }
}

/* ANIMATION */
.custom-number{
    font-size: 50px;
    font-weight: 900 px;    
    text-decoration: underline 2px; 
}

/* I NOSTRI PIATTI */
.card {
    top: -100px;
    background-color: var(--ve);
    color: var(--w);
  
}

.h3-position{
    position: relative;
    top: -150px;
}

/* SWIPER */

.swiper-text{
    position: relative;
    top: -80px;
}

.swiper {
    top: -60px;
    width: 400px;
    height: 350px;
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

/* FOOTER */

  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: var(--ve);
  position: relative;
}
/* .footer-cta {
  border-bottom: 1px solid #373636;
} */
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #dcdcdc;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #dcdcdc;
  font-size: 15px;
}
